fastapi
uvicorn
numpy
pandas
scikit-learn
scipy
pydantic
httpx
pyOpenSSL
python-jose
python-multipart
requests
pytz
redis
PyMySQL
joblib
aerich
aiofiles
aiomysql
aiosqlite
alembic
anyio
async-generator
asyncclick
bcrypt
certifi
cffi
chardet
click
colorama
cryptography
databases
dnspython
email-validator
Faker
h11
idna
iso8601
jose
Mako
MarkupSafe
mysql-connector-python
passlib
protobuf
pycparser
PyJWT
PyMySQL
PyPika
python-dateutil
python-dotenv
python-editor
python-multipart
six
sniffio
SQLAlchemy
starlette
tencentcloud-sdk-python
text-unidecode
tortoise-orm
typer
typing-extensions
unicorn
urllib3
websockets
scrapy
itemadapter
aioredis
loguru
orjson
casbin
casbin_tortoise_adapter
